.list-board {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  color: mediumslateblue;
  font-size: 30px;
  width: 100%;

  &__body {
    display: grid;
    grid-template-columns: 250px 250px 250px;
    grid-gap: 10px;
    background-color: #fff;
    color: plum;
    padding-bottom: 30px;
  
    .board {
      background-color: plum;
      color: #fff;
      border-radius: 5px;
      padding: 20px;
      font-size: 150%;
      height: 100px;
      position: relative;
      cursor: grab;
    
      &__name {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
      }
      &__icon {
        position: absolute;
        width: 30px;
        height: 30px;
        top: 0px;
        right: 0px;
      }
    }
  }
  
}



